
<!DOCTYPE html>
<html>
  <head>
    <title>Happy birthday</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
      <% for(const model of models) { %>
      <tr>
        <td><%= new Date(model.date * 1000) %></td>
          <td><%= model.folds %></td>
          <td><%= model.epochs %></td>
        <td></td>
      </tr>
        <% for(const version of model.versions) { %>
        <tr>
          <td></td>
          <td><%= version.fold %></td>
          <td><%= version.epoch %></td>
          <td><a href="/models/<%= version.id %>">show</a></td>
        </tr>
        <% } %>
      <% } %>
    </table>
  </body>
</html>
