
<!DOCTYPE html>
<html>
  <head>
        <title>Happy birthday</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> 
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
  </head>
  <body>
    <h3>Model:</h3>
    <table id="model">
        <thead>
            <tr>
                <th>path</th>
                <th>date</th>
                <th>folds/epochs</th>
                <th>fold/epoch</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= model.path %></td>
          <td><%= new Date(model.date * 1000) %></td>
          <td><%= `${model.folds}/${model.epochs}` %></td>
          <td><%= `${model.fold}/${model.epoch}` %></td>
          <td><a href="/models/<%= model.id %>">show</a></td>
        </tr>
        </tbody>
    </table>

    <h3>Reports:</h3>
    <%
    if (Object.keys(model.reports).length === 0) { %>
    <h3>no report found</h3>
    <% }  else { %>
    <table id="reports">
        <thead>
            <tr>
                <th rowspan="2">input_dataset_path</th>
                <th rowspan="2">test_dataset_path</th>
                <th rowspan="2">accuracy</th>
                <th rowspan="2">true_positive</th>
                <th rowspan="2">time_elapsed</th>
                <% for(const metric_name in model.reports[0].metrics) { %>
                <th colspan="4"><%= metric_name %></th>
                <% } %>
                <% for(const class_name in model.reports[0].class_accuracies) { %>
                <th rowspan="2"><%= class_name %></th>
                <% } %>
            </tr>
            <tr>
            <% for(const metric_name in model.reports[0].metrics) { %>
                <% for(const metric_type in model.reports[0].metrics[metric_name]) { %>
                <th><%= metric_type %></th>
                <% } %>
            <% } %>
            </tr>
        </thead>
        <tbody>
            <% for(const report of model.reports) { %>
            <%
            let type = report.input_dataset_path.includes("malware") ? "malware" : "benign";
            let name = report.input_dataset_path.split("/").pop(); %>
            <tr>
            <td><a href="/datasets/<%= type %>/<%= name %>"><%= report.input_dataset_path %></a></td>
            <td><%= report.test_dataset_path %></td>
            <td><%= report.accuracy.toFixed(6) %></td>
            <td><%= report.true_positive %></td>
            <td><%= report.time_elapsed.toFixed(6) %> ms</td>
                <% for(const metric_name in report.metrics) { %>
            <td><%= report.metrics[metric_name].precision.toFixed(6) %></td>
            <td><%= report.metrics[metric_name].recall.toFixed(6) %></td>
            <td><%= report.metrics[metric_name].f1_score.toFixed(6) %></td>
            <td><%= report.metrics[metric_name].support %></td>
                <% } %>
                <% for(const class_name in report.class_accuracies) { %>
            <td><%= report.class_accuracies[class_name].toFixed(6) %></td>
                <% } %>
            </tr>
            <% } %>
        </tbody>
    </table>
    <% } %>
    
    <script>
        $('#model').DataTable();
        $('#reports').DataTable();
    </script>
  </body>
</html>
