<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>
    <table>
      <tbody>
        <% for(const model_id in models) { %>
          <tr>
            <td rowspan="4"><a href="/<%= model_id %>"><%= model_id %></a></td>
            <% for(const model_prop in models[model_id]) { %>
              <% if (model_prop === 'average') { %>
                <% for(const av_type in models[model_id]['average']) {
                    for(const measure_class in models[model_id]['average'][av_type]) {
                      for(const measure_name in models[model_id]['average'][av_type][measure_class]) { %>
                        <td><%= av_type %>, <%= measure_class %>, <%= measure_name %>: <%= models[model_id]['average'][av_type][measure_class][measure_name] %> </td>
                      <% } %>
                      <% let is_first = true;
                         for(const measure_name in models[model_id]['average'][av_type][measure_class]) { 
                           if(is_first) { is_first = false; continue; } %>
                          <tr>
                      <% } %>
                    <% } %>
                  <% } %>
                <% } %>
                <% } else { %>
                <td rowspan="4"><%= model_prop %>: <%= models[model_id][model_prop] %> </td>
              <% } %>
            <% } %>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
