<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    tr {
      margin: 20px 0;
    }
    .report {
      display: flex;
      flex-direction: row;
    }
    .report-benign {
      background-color: rgba(127, 255, 212, 0.349);
    }
    .report-malware {
      background-color: #ff7f5056;
    }
    .measure-class {
      display: flex;
      flex-direction: column;
      max-width: 150px;
      width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .bold {
      font-weight: bold;
    }
  </style>
</head>

<body>
  <h1><%= title %></h1>

  <% 
    const measure_classes = [ 'white', 'black', 'macro', 'micro', 'weighted avg', 'macro avg' ];
    for(const model_id in reports_by_model) { %>
      <h3><%= models[model_id].path %></h3>
      <% for(const type of ['malware', 'benign']) { %>
        <% for(const report_id of reports_by_model[model_id]) { 
          if(datasets[reports[report_id].dataset_id].type !== type) continue; %>
          <div class="report report-<%= datasets[reports[report_id].dataset_id].type %>">
            <div class="measure-class">
              <span>inputs number: <%= reports[report_id].inputs_number %></span>
              <span>true_positive: <%= reports[report_id].true_positive %></span>
            </div>
            <div class="measure-class">
              <span class="bold">-</span>
              <span class="bold">precision</span>
              <span class="bold">recall</span>
              <span class="bold">f1-score</span>
              <span class="bold">support</span>
            </div>
            <% for(const measure_class of measure_classes) { %>
            <div class="measure-class">
              <span class="bold"><%= measure_class %></span>
              <% for(const measure_name in reports[report_id][measure_class]) { %>
                <div><%= Number(reports[report_id][measure_class][measure_name].toFixed(8)) %></div>
              <% } %>
            </div>
            <% } %>
            <div class="measure-class">
              <span class="bold">accuracy</span>
              <div><%= Number(reports[report_id].accuracy.toFixed(8)) %></div>
            </div>
            <div class="measure-class">
              <span class="bold">confusion matrix</span>
              <table>
                <tr><td></td><td>aw</td><td>ab</td></tr>
                <tr>
                  <td>pw</td>
                  <td><b><%= Number(reports[report_id].confusion_matrix[0].toFixed(8)) %></b></td>
                  <td><%= Number(reports[report_id].confusion_matrix[1].toFixed(8)) %></td>
                </tr>
                <tr>
                  <td>pb</td>
                  <td><%= Number(reports[report_id].confusion_matrix[2].toFixed(8)) %></td>
                  <td><b><%= Number(reports[report_id].confusion_matrix[3].toFixed(8)) %></b></td>
                </tr>
              </table>
            </div>
          </div>
        <% } %>
        <div class="report report-<%= type %>">
            <div class="measure-class">
              <span>inputs number: <%= models[model_id][`${type}_average`].inputs_number %></span>
              <span>true_positive: <%= models[model_id][`${type}_average`].true_positive %></span>
            </div>
            <div class="measure-class">
              <span class="bold">-</span>
              <span class="bold">precision</span>
              <span class="bold">recall</span>
              <span class="bold">f1-score</span>
              <span class="bold">support</span>
            </div>
            <% for(const measure_class of measure_classes) { %>
            <div class="measure-class">
              <span class="bold"><%= measure_class %></span>
              <% for(const measure_name in models[model_id][`${type}_average`][measure_class]) { %>
                <div><%= Number(models[model_id][`${type}_average`][measure_class][measure_name].toFixed(8)) %></div>
              <% } %>
            </div>
            <% } %>
            <div class="measure-class">
              <span class="bold">accuracy</span>
              <div><%= Number(models[model_id][`${type}_average`].accuracy.toFixed(8)) %></div>
            </div>
          </div>
      <% } %>
    <% } %>
</body>

</html>