<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      tr {
        margin: 20px 0;
      }
      td {
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    </style>
  </head>

  <body>
    <h1><%= title %></h1>
    <table>
      <tbody>
        <% for(const model_id in models_) { %>
            <% for(const model of models_) { %>
              <tr>
                <% for(let i = 0; i < model[0].length - 6; i++) { %>
                  <td rowspan="4"><%= model[0][i] %></td>
                <% } %>
                <% for(let i = model[0].length - 6; i < model[0].length; i++) { %>
                  <td ><%= model[0][i] %></td>
                <% } %>
              </tr>
              <% for(let i = 1; i < model.length; i++) { %>
                <tr>
                <% for(let j = 0; j < model[i].length; j++) { %>
                    <td><%= model[i][j] %></td>
                  <% } %>
                </tr>
                  <% } %>
            <% } %>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
