<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    body {
      font-family:'Courier New';
    }
    tr {
      margin: 20px 0;
    }
    .report {
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
    }
    .report-benign {
      background-color: rgba(127, 255, 212, 0.349);
    }
    .report-malware {
      background-color: #ff7f5056;
    }
    .report > .measure-class:nth-child(1)  {
      max-width: 250px;
      width: 250px;
      white-space: normal;
      overflow: auto;
      text-overflow: unset;
    }
    .measure-class {
      display: flex;
      flex-direction: column;
      max-width: 150px;
      width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex-shrink: 0;
    }
    .bold {
      font-weight: bold;
    }
  </style>
</head>

<body>
  <h1><%= title %></h1>

  <div style="display: inline-block; width: 15px; height: 15px;" class="report-benign"> </div> indicate benign
  <div style="display: inline-block; width: 15px; height: 15px;" class="report-malware"> </div> indicate malware


  <% 
    const measure_classes = [ 'white', 'black', 'macro', 'micro', 'weighted avg', 'macro avg' ];
    for(const model_id in models) { %>
      <h3>Reports for model <i><%= models[model_id].path.split('/').pop() %></i></h3>
      <div class="report">
        <div class="measure-class" style="text-align: center; border-right: 1px solid black">input dataset</div>
        <div class="measure-class" style="text-align: center; border-right: 1px solid black">measure names</div>
        <div class="measure-class" style="text-align: center; border-right: 1px solid black; min-width: 1200px">measure class</div>
      </div>
        <% for(const report_id in reports) { 
          if(reports[report_id].model_id !== model_id) continue; %>
          <div class="report report-<%= datasets[reports[report_id].dataset_id].type %>">
            <div class="measure-class">
              <span><i><%= datasets[reports[report_id].dataset_id].name %></i></span>
              <span>inputs number: <%= reports[report_id].inputs_number %></span>
            </div>
            <div class="measure-class">
              <span class="bold">-</span>
              <span class="bold">precision</span>
              <span class="bold">recall</span>
              <span class="bold">f1-score</span>
            </div>
            <% for(const measure_name in reports[report_id].metrics) { %>
            <div class="measure-class">
              <span class="bold"><%= measure_name %></span>
                <div><%= Number(reports[report_id].metrics[measure_name].precision.toFixed(8)) %></div>
                <div><%= Number(reports[report_id].metrics[measure_name].recall.toFixed(8)) %></div>
                <div><%= Number(reports[report_id].metrics[measure_name].f1_score.toFixed(8)) %></div>
            </div>
            <% } %>
            <div class="measure-class">
              <span class="bold">accuracy</span>
              <div><%= Number(reports[report_id].accuracy.toFixed(8)) %></div>
            </div>
            <div class="measure-class">
              <span class="bold">confusion matrix</span>
              <table style="border: 1px solid black;">
                <tr><td style="border-right: 1px solid black; border-bottom: 1px solid black;"></td><td style=" border-bottom: 1px solid black;">aw</td><td style=" border-bottom: 1px solid black;">ab</td></tr>
                <tr>
                  <td style="border-right: 1px solid black;">pw</td>
                  <td><b><%= Number(reports[report_id].confusion_matrix[0].toFixed(8)) %></b></td>
                  <td><%= Number(reports[report_id].confusion_matrix[1].toFixed(8)) %></td>
                </tr>
                <tr>
                  <td style="border-right: 1px solid black;">pb</td>
                  <td><%= Number(reports[report_id].confusion_matrix[2].toFixed(8)) %></td>
                  <td><b><%= Number(reports[report_id].confusion_matrix[3].toFixed(8)) %></b></td>
                </tr>
              </table>
            </div>
          </div>
        <% } %>
      <% } %>
</body>

</html>