<!DOCTYPE html>
<html>
  <head>
    <title>Happy birthday</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%
    console.log(Object.keys(reports).length);
    if (Object.keys(reports).length === 0) { %>
      <h3>no report found</h3>
    <% }  else { %>
    <table>
      <% for(const report of reports) { %>
      <tr>
        <td><%= report.input_dataset_path %></td>
        <td><%= report.test_dataset_path %></td>
        <td><%= report.accuracy %></td>
        <td><%= report.true_positive %></td>
        <td><%= report.time_elapsed %></td>
        <% for(const metric_name in reports.metrics) { %>
        <td><%= metric_name %></td>
        <td><%= report.metrics[metric_name].precision %></td>
        <td><%= report.metrics[metric_name].recall %></td>
        <td><%= report.metrics[metric_name].f1_score %></td>
        <td><%= report.metrics[metric_name].support %></td>
        <% } %>
        <% for(const class_name in reports.class_accuracies) { %>
        <td><%= class_name %></td>
        <td><%= report.class_accuracies[class_name] %></td>
        <% } %>
      </tr>
      <% } %>
    </table>
    <% } %>

  </body>
</html>
